{
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 119,
  "singleQuote": false,
  "semi": true,
  "endOfLine": "lf",
  "proseWrap": "always",
  "bracketSameLine": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^(components|hooks|resources|utils|lightning-.*)",
    "^tests",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
