# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @williamfalcon @borda @tchaton @awaelchli @kaushikb11 @rohitgr7

# CI/CD and configs
/.github/       @borda @carmocca @akihironitta @tchaton
/dockers/       @borda @carmocca @akihironitta @tchaton
*.yml           @borda @carmocca @akihironitta @tchaton

# Docs
/docs/                                      @edenlightning @tchaton @borda @awaelchli @RobertLaurella @Felonious-Spellfire
/.github/*.md                               @edenlightning @williamfalcon @borda
/.github/ISSUE_TEMPLATE/                    @edenlightning @borda @tchaton
/docs/source-pytorch/conf.py                @borda @awaelchli @carmocca
/docs/source-pytorch/index.rst              @williamfalcon
/docs/source-pytorch/levels                 @williamfalcon @RobertLaurella
/docs/source-pytorch/expertise_levels       @williamfalcon @RobertLaurella
/docs/source-app/                           @williamfalcon @Felonious-Spellfire @RobertLaurella @tchaton @awaelchli
/docs/source-app/conf.py                    @borda @awaelchli @carmocca
/docs/source-app/index.rst                  @williamfalcon
/docs/source-app/expertise_levels           @williamfalcon @Felonious-Spellfire @RobertLaurella

# Packages
/src/pytorch_lightning                      @carmocca @justusschock
/src/pytorch_lightning/accelerators         @williamfalcon @tchaton @SeanNaren @awaelchli @justusschock @kaushikb11
/src/pytorch_lightning/callbacks            @williamfalcon @tchaton @carmocca @borda @kaushikb11
/src/pytorch_lightning/core                 @tchaton @borda @carmocca @justusschock @kaushikb11
/src/pytorch_lightning/distributed          @williamfalcon @tchaton @awaelchli @kaushikb11
/src/pytorch_lightning/lite                 @tchaton @awaelchli @carmocca
/src/pytorch_lightning/loggers              @tchaton @awaelchli @borda
/src/pytorch_lightning/loggers/wandb.py     @borisdayma @borda
/src/pytorch_lightning/loggers/neptune.py   @shnela @HubertJaworski @pkasprzyk @pitercl @Raalsky @aniezurawski @kamil-kaczmarek
/src/pytorch_lightning/loops                @tchaton @awaelchli @justusschock @carmocca
/src/pytorch_lightning/overrides            @tchaton @borda
/src/pytorch_lightning/plugins              @tchaton @awaelchli @justusschock
/src/pytorch_lightning/profilers            @williamfalcon @tchaton @borda @carmocca
/src/pytorch_lightning/profilers/pytorch.py @nbcsm @guotuofeng
/src/pytorch_lightning/strategies           @tchaton @SeanNaren @awaelchli @justusschock @kaushikb11
/src/pytorch_lightning/trainer              @williamfalcon @borda @tchaton @carmocca @awaelchli @justusschock @kaushikb11
/src/pytorch_lightning/trainer/connectors   @tchaton @carmocca @borda
/src/pytorch_lightning/tuner                @SkafteNicki @borda @awaelchli
/src/pytorch_lightning/utilities            @borda @tchaton @carmocca

/src/lightning_app                          @tchaton @manskx
/src/lightning_app/cli/pl-app-template      @tchaton @awaelchli @Borda
/src/lightning_app/core                     @tchaton @awaelchli @manskx
/src/lightning_app/core/queues.py           @tchaton @hhsecond @manskx
/src/lightning_app/runners/cloud.py         @tchaton @hhsecond
/src/lightning_app/testing                  @tchaton @manskx
/src/lightning_app/__about__.py             @nohalon @edenlightning @lantiga

# Examples
/examples/app_*                             @tchaton @awaelchli @manskx @hhsecond
# App tests
/tests/tests_app                            @tchaton @awaelchli @manskx @hhsecond
/tests/tests_app_examples                   @tchaton @awaelchli @manskx @hhsecond

# Specifics
/src/pytorch_lightning/trainer/connectors/logger_connector @tchaton @carmocca
/src/pytorch_lightning/trainer/progress.py                 @tchaton @awaelchli @carmocca
# API
/src/pytorch_lightning/callbacks/callback.py @williamfalcon @awaelchli @ananthsub @carmocca
/src/pytorch_lightning/core/datamodule.py    @williamFalcon @awaelchli @ananthsub @carmocca
/src/pytorch_lightning/trainer/trainer.py    @williamfalcon @tchaton @awaelchli
/src/pytorch_lightning/core/hooks.py         @williamfalcon @tchaton @awaelchli @ananthsub @carmocca
/src/pytorch_lightning/core/module.py        @williamfalcon @tchaton @awaelchli

/.github/CODEOWNERS                  @williamfalcon
/SECURITY.md                         @williamfalcon
/README.md                           @williamfalcon @edenlightning @borda
/setup.py                            @williamfalcon @borda @carmocca
/src/pytorch_lightning/__about__.py  @williamfalcon @borda @carmocca
