# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @williamfalcon @borda @teddykoker @awaelchli @nateraw @justusschock @tchaton @SeanNaren @ananyahjha93

# Metrics
/pytorch_lightning/metrics/*  @teddykoker @ananyahjha93 @justusschock
/tests/metrics/*              @teddykoker @ananyahjha93 @justusschock
/docs/source/metrics.rst      @teddykoker @ananyahjha93 @justusschock

# API
/pytorch_lightning/callbacks/base.py  @williamfalcon
/pytorch_lightning/core/datamodule.py @williamfalcon
/pytorch_lightning/trainer/trainer.py @williamfalcon
/pytorch_lightning/core/hooks.py     @williamfalcon
/pytorch_lightning/core/lightning.py  @williamfalcon


# accelerators
/pytorch_lightning/accelerators/*  @williamfalcon

# owners
/pytorch_lightning/.github/CODEOWNERS @williamfalcon
