# project
.DS_Store
run_configs/
model_weights/
pip-wheel-metadata/
lightning_logs/
.vscode/

# Documentations
docs/venv*/
docs/build*/
docs/source-app/*/api
docs/source-app/generated
docs/source-app/*/generated
docs/source-app/_static/fetched-s3-assets
docs/source-fabric/_static/fetched-s3-assets
docs/source-pytorch/api
docs/source-pytorch/*.md
docs/source-pytorch/generated
docs/source-pytorch/*/generated
docs/source-pytorch/notebooks
docs/source-pytorch/_static/images/course_UvA-DL
docs/source-pytorch/_static/images/lightning_examples
docs/source-pytorch/_static/fetched-s3-assets
docs/source-pytorch/integrations/hpu
docs/source-pytorch/integrations/strategies/Hivemind.rst

docs/source-fabric/*/generated

# C extensions
*.so
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
timit_data/
grid_generated*
grid_ori*

# PyCharm
.idea/

# Distribution / packaging
.Python
ide_layouts/
build/
_build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
src/*/version.info
src/lightning_app/*
src/lightning_fabric/*
src/pytorch_lightning/*
!src/*/__about__.py
!src/*/__main__.py
!src/*/__setup__.py
!src/*/__version__.py
!src/*/MANIFEST.in
!src/*/py.typed
!src/*/README.md
!src/*/shell-folder_code-lives-lightning.info

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
tests/tests_tt_dir/
tests/save_dir
tests/tests/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env
.env.staging
.env.local

# virtualenv
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
# pytest
.pytest_cache/
# ruff
.ruff_cache/

# data
.data/
Datasets/
mnist/
MNIST/
tests/legacy/checkpoints/
*.gz
*ubyte

# pl tests
ml-runs/
mlruns/
*.zip
*.ckpt
test-reports/
wandb
.forked/
*.prof
*.tar.gz
.neptune/

# dataset generated from bolts in examples.
cifar-10-batches-py
*.pt
# ctags
tags
.tags
src/lightning_app/ui/*
src/lightning/app/ui/*
*examples/template_react_ui*
hars*
artifacts/*
*docs/examples*

# tutorials
our_model.tar
test.png
saved_models
data/
!examples/data/
!tests/tests_pytorch/utilities/data/
!requirements/data/
.shared
.lightning
node_modules/

# examples
**/events.out.tfevents.*
examples/**/*.png

# instalation artifacts
requirements/base.txt

# CI
.wheels/

# sourced notebooks from tutorials
_notebooks/.notebooks/
