# Copyright The Lightning AI team.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

default_language_version:
  python: python3

ci:
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit suggestions"
  autoupdate_schedule: quarterly
  # submodules: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: README.md # keep formatting in README flexible
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-added-large-files
        args: ["--maxkb=350", "--enforce-all"]
        exclude: |
          (?x)^(
              docs/source-pytorch/_static/images/general/fast_2.gif|
              docs/source-pytorch/_static/images/mnist_imgs/pt_to_pl.jpg|
              docs/source-pytorch/_static/images/lightning_module/pt_to_pl.png|
              docs/source-pytorch/_static/images/general/pl_quick_start_full_compressed.gif|
              docs/source-pytorch/_static/images/general/pl_overview_flat.jpg|
              docs/source-pytorch/_static/images/general/pl_overview.gif|
              src/lightning/fabric/CHANGELOG.md|
              src/lightning/pytorch/CHANGELOG.md
          )$
      - id: detect-private-key

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        #args: ["--write-changes"] # uncomment if you want to get automatic fixing

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
        args: ["--in-place"]

  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.0
    hooks:
      - id: sphinx-lint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      # try to fix what is possible
      - id: ruff
        args: ["--fix", "--unsafe-fixes"]
      # perform formatting updates
      - id: ruff-format
      # validate if all is fine with preview mode
      - id: ruff

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          #- mdformat-black
          - mdformat_frontmatter
        exclude: |
          (?x)^(
              src/lightning/fabric/CHANGELOG.md|
              src/lightning/pytorch/CHANGELOG.md|
              README.md
          )$

  - repo: https://github.com/JoC0de/pre-commit-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # https://prettier.io/docs/en/options.html#print-width
        files: \.(json|yml|yaml|toml)
        args: ["--print-width=120"]
