# Copyright The PyTorch Lightning team.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This is Conda environment file
# Usage: `conda env update -f environment.yml`

name:
    lightning

channels:
    - nvidia
    - pytorch
    - pytorch-test
    - pytorch-nightly
    - conda-forge

dependencies:
    - python>=3.7
    - pip>20.1
    - numpy>=1.17.2
    - pytorch>=1.8.*
    - future>=0.17.1
    - PyYAML>=5.1
    - tqdm>=4.41.0
    - fsspec[http]>=2021.05.0, !=2021.06.0
    #- tensorboard>=2.2.0  # not needed, already included in pytorch

    # Optional
    #- nvidia-apex  # missing for py3.8
    - scikit-learn>=0.20.0
    - matplotlib>=3.1.1
    - omegaconf>=2.0.5
    - torchtext>=0.9.*

    # Examples
    - torchvision>=0.9.*

    - pip:
        - test-tube>=0.7.5
        - mlflow>=1.0.0
        - comet_ml>=3.1.12
        - wandb>=0.8.21
        - neptune-client>=0.10.0
