# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__  *.py[cod] *.orig

# Include the README and CHANGELOG
include *.md

# Include the license file
include LICENSE

exclude *.sh
exclude *.toml
exclude *.svg
recursive-include pytorch_lightning *.py

# include examples
recursive-include pl_examples *.py *.md *.sh *.txt

# exclude tests from package
recursive-exclude tests *
recursive-exclude site *
exclude tests

# Exclude the documentation files
recursive-exclude docs *
exclude docs
recursive-include docs/source/_images/logos/ *
recursive-include docs/source/_images/general/ pl_overview* tf_* tutorial_* PTL101_*

# Include the Requirements
recursive-include requirements *.txt

# Exclude build configs
exclude *.yml
exclude *.yaml

# Exclude pyright config
exclude .pyrightconfig.json

prune .git
prune .github
prune .circleci
prune notebook*
prune temp*
prune test*
prune benchmark*
prune docker

