exclude *.toml  # project config
exclude requirements.txt
exclude __pycache__
include .actions/setup_tools.py
include .actions/assistant.py
include *.cff  # citation info
recursive-include src/lightning *.md
recursive-include requirements *.txt
recursive-include src/lightning/app/ui *
recursive-include src/lightning/cli/*-template *
include src/lightning/app/components/serve/catimage.png

prune src/lightning_app
prune src/lightning_lite
prune src/pytorch_lightning
