[run]
concurrency = multiprocessing
branch = True
omit =
    */site-packages/*
    pytorch_lightning/accelerators/ddp_*.py
    pytorch_lightning/accelerators/ddp2_*.py
    pytorch_lightning/accelerators/dp_*.py
    pytorch_lightning/accelerators/tpu_*.py
    pytorch_lightning/cluster_environments/*.py
    pytorch_lightning/overrides/data_parallel.py
    pytorch_lightning/metrics
    pytorch_lightning/utilities/xla_device_utils.py
    pytorch_lightning/utilities/distributed.py
    pytorch_lightning/tuner/auto_gpu_select.py
