# install all extra dependencies for full package testing
-r ../requirements-extra.txt

# extended list of dependencies dor development and run lint and tests
tox
coverage
codecov
pytest>=3.0.5
pytest-cov
pytest-flake8
flake8
check-manifest
twine==1.13.0