torchvision>=0.4.0, < 0.5  # the 0.5. has some issues with torch JIT
tox
coverage
codecov
pytest>=3.0.5
pytest-cov
flake8
check-manifest
test-tube>=0.7.5
mlflow
comet_ml
wandb
sacred
neptune-client
twine==1.13.0
pillow<7.0.0
