:root {
  --purple: rgb(121, 46, 229);
  --purple-darker: rgb(109, 30, 229);
  --button-primary-border-color-base: rgb(121, 46, 229);
  --purple-gradient: linear-gradient(206.91deg, rgb(121, 46, 229) 16.83%, rgb(62, 171, 179) 144.59%);
  --color-accent-base: var(--purple);
  --color-border-highlight: var(--purple);
}

.gradio-container {
  background: white;
}

.gradio-container input {
  font-size: 15px;
  border-radius: 6px;
  box-shadow: none;
}

.gradio-container button.primary, .gradio-container button.plain {
  background: var(--purple) !important;
  color: white !important;
  font-size: 15;
}

.gradio-container button.primary:hover, .gradio-container button.plain:hover {
  background: var(--purple-darker);
  color: white;
}

.gradio-container button.lg {
  border-radius: 120px;
}

.gradio-container input:focus {
  --tw-ring-opacity: 0;
  --tw-border-opacity: 0.5;
  box-shadow: none;
  border-color: var(--purple);
}
.gradio-container textarea:focus {
  --tw-ring-opacity: 0;
  --tw-border-opacity: 0.5;
  box-shadow: none;
  border-color: var(--purple);
}

.gradio-container input:hover {
  border-color: var(--purple);
}

.gradio-container input[type="range"] {
  accent-color: var(--purple);
}

.gradio-container input[type="checkbox"]:checked {
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
}

.gradio-container input[type="checkbox"]:focus {
  --ring-color: rgb(121, 46, 229 / .5) !important;
  border-color: var(--purple) !important;
}

.gradio-container button.sm.plain:hover svg {
  color: white !important;
}

.gradio-container .wrap:focus-within {
  border-color: var(--purple) !important;
  --ring-color: transparent !important;
}

.gradio-container th {
  border-color: var(--purple);
}
