{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/lightning',
  'github_issues': 'https://github.com/Lightning-AI/lightning/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/.github/CONTRIBUTING.md',
  'governance': 'https://github.com/Lightning-AI/lightning/blob/master/docs/source-pytorch/governance.rst',
  'docs': 'https://lightning.rtfd.io/en/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://discord.gg/VptPCZkGNa',
  'tutorials': 'https://pt-lightning.readthedocs.io/en/latest/#tutorials',
  'previous_pytorch_versions': 'https://pt-lightning.rtfd.io/en/latest/',
  'home': 'https://lightning.ai/',
  'get_started': 'https://pt-lightning.readthedocs.io/en/latest/introduction_guide.html',
  'features': 'https://pt-lightning.rtfd.io/en/latest/',
  'blog': 'https://www.pytorchlightning.ai/blog',
  'resources': 'https://pt-lightning.readthedocs.io/en/latest/#community-examples',
  'support': 'https://pt-lightning.rtfd.io/en/latest/',
}
-%}
