{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/lightning',
  'github_issues': 'https://github.com/Lightning-AI/lightning/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/.github/CONTRIBUTING.md',
  'governance': 'https://lightning.ai/docs/pytorch/LTS/governance.html',
  'docs': 'https://lightning.ai/docs/pytorch/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://www.pytorchlightning.ai/community',
  'tutorials': 'https://lightning.ai/docs/pytorch/LTS/#tutorials',
  'previous_pytorch_versions': 'https://lightning.ai/docs/pytorch/latest/',
  'home': 'https://lightning.ai/docs/pytorch/latest/',
  'get_started': 'https://lightning.ai/docs/pytorch/LTS/starter/introduction.html',
  'features': 'https://lightning.ai/docs/pytorch/latest/',
  'blog': 'https://www.pytorchlightning.ai/blog',
  'resources': 'https://lightning.ai/docs/pytorch/LTS/#community-examples',
  'support': 'https://lightning.ai/docs/pytorch/latest/',
  'community': 'https://www.pytorchlightning.ai/community',
  'forums': 'https://lightning.ai/forums/',
  'versions': 'https://lightning.ai/docs/pytorch/latest/past_versions.html'
}
-%}
