{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/lightning',
  'github_issues': 'https://github.com/Lightning-AI/lightning/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/.github/CONTRIBUTING.md',
  'governance': 'https://lightning.ai/docs/pytorch/latest/community/governance.html',
  'docs': 'https://lightning.ai/docs/pytorch/latest/',
  'twitter': 'https://twitter.com/LightningAI',
  'discuss': 'https://www.pytorchlightning.ai/community',
  'tutorials': 'https://lightning.ai/docs/pytorch/latest/#tutorials',
  'home': 'https://lightning.ai/docs/pytorch/latest/',
  'get_started': 'https://lightning.ai/docs/pytorch/latest/starter/introduction.html',
  'features': 'https://lightning.ai/docs/pytorch/latest/',
  'blog': 'https://lightning.ai/pages/blog/',
  'resources': 'https://lightning.ai/docs/pytorch/latest/#community-examples',
  'support': 'https://lightning.ai/docs/pytorch/latest/',
  'community': 'https://www.pytorchlightning.ai/community',
  'forums': 'https://lightning.ai/forums/',
  'versions': 'https://lightning.ai/docs/pytorch/latest/past_versions.html'
}
-%}
