{%- set external_urls = {
  'github': 'https://github.com/williamFalcon/pytorch-lightning',
  'github_issues': 'https://github.com/williamFalcon/pytorch-lightning/issues',
  'contributing': 'https://github.com/williamFalcon/pytorch-lightning/blob/master/CONTRIBUTING.md',
  'docs': 'https://williamfalcon.github.io/pytorch-lightning',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://williamfalcon.github.io/pytorch-lightning/',
  'previous_pytorch_versions': 'https://williamfalcon.github.io/pytorch-lightning/',
  'home': 'https://williamfalcon.github.io/pytorch-lightning/',
  'get_started': 'https://williamfalcon.github.io/pytorch-lightning/',
  'features': 'https://williamfalcon.github.io/pytorch-lightning/',
  'blog': 'https://williamfalcon.github.io/pytorch-lightning/',
  'resources': 'https://williamfalcon.github.io/pytorch-lightning/',
  'support': 'https://williamfalcon.github.io/pytorch-lightning/',
}
-%}
