include src/version.info
include src/lightning_lite/version.info
include src/lightning_lite/CHANGELOG.md
include src/lightning_lite/README.md
recursive-include requirements/lite *.txt
include .actions/setup_tools.py
include .actions/assistant.py
