col {
    width: 50% !important;
}

/**
 * Enable side-by-side comparative code blocks with header descriptions
 */
.sbs-code {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas:
        "sbs-hdr1 sbs-hdr2"
        "sbs-blk1 sbs-blk2";
    margin-bottom: 1.5rem;
}
.sbs-code.container p {
    display: flex;
    justify-content: left;
    align-items: center;
    font-style: italic;
    color: #000080;
    margin-bottom: 0rem;
 }

.sbs-hdr1 { grid-area: sbs-hdr1;}
.sbs-hdr2 { grid-area: sbs-hdr2; }
.sbs-blk1 { grid-area: sbs-blk1; }
.sbs-blk2 { grid-area: sbs-blk2; }

div.sbs-code :is(.highlight, pre) {
    height: 100%;
    margin-bottom: 0rem;
}

/**
 * Display footnotes in more compact form
 */
dl.footnote.brackets {
    display: grid;
    grid-template-columns: max-content auto;
}
.footnote.brackets dt {
    grid-column-start: 1;
    margin-right: 1rem;
}
.footnote.brackets dd {  grid-column-start: 2; }

/* set footnote labels to superscript */
a.footnote-reference {
    vertical-align: super;
    font-size: 80%;
    line-height: 0rem; /* avoid extending line-height */
}
