{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/lightning',
  'github_issues': 'https://github.com/Lightning-AI/lightning/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/.github/CONTRIBUTING.md',
  'governance': 'https://lightning.ai/docs/pytorch/latest/community/governance.html',
  'docs': 'https://lightning.ai/docs/fabric/',
  'twitter': 'https://twitter.com/LightningAI',
  'home': 'https://lightning.ai/docs/fabric/',
  'get_started': '',
  'blog': 'https://lightning.ai/pages/blog/',
  'support': '',
  'community': 'https://www.pytorchlightning.ai/community',
  'forums': 'https://lightning.ai/forums/',
}
-%}
