include src/version.info
include src/lightning_fabric/version.info
include src/lightning_fabric/CHANGELOG.md
include src/lightning_fabric/README.md
recursive-include requirements/fabric *.txt
include .actions/assistant.py
