sphinx>=2.0, <3.0
recommonmark  # fails with badges
m2r  # fails with multi-line text
nbsphinx
pandoc
docutils
sphinxcontrib-fulltoc
sphinxcontrib-mockautodoc
git+https://github.com/PytorchLightning/lightning_sphinx_theme.git
# pip_shims
sphinx-autodoc-typehints
sphinx-paramlinks<0.4.0
